[submodule "example/plugins/script-loader"]
	path = example/plugins/script-loader
	url = https://github.com/sosie-js/script-loader
	branch = 2.2.0
[submodule "example/tools/header"]
	path = example/tools/header
	url = https://github.com/editor-js/header
[submodule "example/tools/simple-image"]
	path = example/tools/simple-image
	url = https://github.com/editor-js/simple-image
[submodule "example/tools/delimiter"]
	path = example/tools/delimiter
	url = https://github.com/editor-js/delimiter
[submodule "example/tools/list"]
	path = example/tools/list
	url = https://github.com/editor-js/list
[submodule "example/tools/checklist"]
	path = example/tools/checklist
	url = https://github.com/editor-js/checklist
[submodule "example/tools/quote"]
	path = example/tools/quote
	url = https://github.com/editor-js/quote
[submodule "example/tools/code"]
	path = example/tools/code
	url = https://github.com/editor-js/code
[submodule "example/tools/image"]
	path = example/tools/image
	url = https://github.com/editor-js/image
[submodule "example/tools/embed"]
	path = example/tools/embed
	url = https://github.com/editor-js/embed
[submodule "example/tools/table"]
	path = example/tools/table
	url = https://github.com/editor-js/table
[submodule "example/tools/link"]
	path = example/tools/link
	url = https://github.com/editor-js/link
[submodule "example/tools/warning"]
	path = example/tools/warning
	url = https://github.com/editor-js/warning
[submodule "example/tools/marker"]
	path = example/tools/marker
	url = https://github.com/editor-js/marker
[submodule "example/tools/inline-code"]
	path = example/tools/inline-code
	url = https://github.com/editor-js/inline-code
[submodule "example/tools/paragraph"]
	path = example/tools/paragraph
	url = https://github.com/editor-js/paragraph
[submodule "example/tools/raw"]
	path = example/tools/raw
	url = https://github.com/editor-js/raw
[submodule "example/plugins/embed"]
	path = example/plugins/embed
	url = https://github.com/sosie-js/embed
	branch = 2.0.0
[submodule "src/editor.js"]
	path = src/editor.js
	url = https://github.com/sos-productions/editor.js
	branch = next
[submodule "example/plugins/tool-configurator"]
	path = example/plugins/tool-configurator
	url = https://github.com/sosie-js/tool-configurator
	branch = 1.0.0
[submodule "src/font-awesome"]
	path = src/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
	branch = fa-4
[submodule "src/js-notifier"]
	path = src/js-notifier
	url = https://github.com/codex-team/js-notifier
	branch = 1.2.0
[submodule "src/downloadjs"]
	path = src/downloadjs
	url = https://github.com/rndme/download
	branch = master
[submodule "src/file-saver"]
	path = src/file-saver
	url = https://github.com/eligrey/FileSaver.js
	branch = master
