[submodule "plugins/tool-configurator"]
	path = plugins/tool-configurator
	url = https://github.com/sosie-js/tool-configurator
	branch = 1.0.0
[submodule "plugins/embed"]
	path = plugins/embed
	url = https://github.com/sosie-js/embed
	branch = Interactive
